@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*----HEADER----*/

header{
    background-color: white;
    position: sticky;
    top: 0%;
}

header img{
    height: 70px;
    width: 280px;
}

header nav ul{
    background-color: #80B23C;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
}

header nav ul:hover{
    background-color: #49206D;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


/*----MAIN----*/

.promo{
    background-image: url(../img/imagen15.jpg);
    width: 100%;
    height: 84vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.promo div a{
    text-decoration: none;
    background-color: #49206D;
    color: white;
    padding: 10px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.promo div a:hover{
    background-color: #80B23C;
    transform: scale(1.1);
}

.promo p{
    font-size: 20px;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}

.marcas{
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 10px 0px 10px 0px;   
}

.marcas p{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.logos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos div img{
    height: 448px;
    width: 448px;
}

.descuento{
    background-color: #49206D;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.descuento p{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
}

.grid-container div{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-container div h3{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin: 5px;   
}

.grid-container div p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin: 5px;
}
.grid-container div a{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    text-decoration: none;
    background-color: #80B23C;
    color: white;
    padding: 5px 150px 5px 150px;
    border-radius: 5px;
    transition: 1s;
}

.grid-container div a:hover{
    background-color: #49206D;
    transform: scale(1.1);
}
.grid-container{
    text-align: center;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto auto auto;
    gap: 5px;
}

.grid-container div img{
    height: 270px;
    width: 360px
}

@media screen and (max-width: 1024px){
    .promo{
        height: 75vh;
        width: 100%;
    }
    .promo div p{
        font-size: 20px;
        padding: 5px;
    }
    .promo div a{
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
    }
    .logos div img{
        height: 340px;
        width: 340px;
    }
    .grid-container{
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: auto auto auto auto auto;
    }
    .grid-container div img{
        height: 230px;
        width: 320px;
    }
    .grid-container div a{
        padding: 5px 128px 5px 128px;
    }   
}
@media screen and (max-width: 950px){
    .promo{
        height: 70vh;
        width: 100%;
    }
    .promo div p{
        font-size: 14px;
        padding: 5px;
    }
    .promo div a{
        font-size: 14px;
        padding: 5px;
        border-radius: 3px;
    }
    .logos div img{
        height: 315px;
        width: 315px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }
    .grid-container div img{
        height: 270px;
        width: 360px;
    }
    .grid-container div a{
        padding: 5px 148px 5px 148px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-img img{
        height: 370px;
        width: 470px;
    } 
}

@media screen and (max-width: 750px){
    .promo{
        height: 55vh;
        width: 100%;
    }
    .promo div p{
        font-size: 10px;
        padding: 5px;
    }
    .promo div a{
        font-size: 10px;
        padding: 5px;
        border-radius: 2px;
    }
    .logos div img{
        height: 250px;
        width: 250px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, auto);
    }
    .grid-container div img{
        height: 240px;
        width: 330px;
    }
    .grid-container div a{
        padding: 5px 135px 5px 135px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-img img{
        height: 370px;
        width: 470px;
    }
}

@media screen and (max-width: 670px){
    .promo{
        height: 50vh;
        width: 100%;
    }
    .promo div p{
        font-size: 10px;
        padding: 5px;
    }
    .promo div a{
        font-size: 10px;
        padding: 5px;
        border-radius: 2px;
    }
    .logos div img{
        height: 222px;
        width: 222px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5,auto);
    }
    .grid-container div img{
        height: 210px;
        width: 300px;
    }
    .grid-container div a{
        padding: 5px 120px 5px 120px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-img img{
        height: 370px;
        width: 470px;
    }
    .offer .offer-info{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 540px){
    .promo{
        height: 39vh;
        width: 100%;
    }
    .promo div p{
        font-size: 6px;
        padding: 5px;
    }
    .promo div a{
        font-size: 6px;
        padding: 5px;
        border-radius: 2px;
    }
    .logos div img{
        height: 178px;
        width: 178px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, auto);
    }
    .grid-container div img{
        height: 170px;
        width: 220px;
    }
    .grid-container div a{
        padding: 5px 80px 5px 80px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-img img{
        height: 270px;
        width: 370px;
    }
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 480px){
    .promo{
        height: 20vh;
        width: 100%;
    }
    .promo div p{
        font-size: 6px;
        padding: 5px;
    }
    .promo div a{
        font-size: 6px;
        padding: 5px;
        border-radius: 2px;
    }
    .logos div img{
        height: 137px;
        width: 137px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, auto);
    }
    .grid-container div img{
        height: 130px;
        width: 180px;
    }
    .grid-container div a{
        padding: 5px 60px 5px 60px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-info{
        font-size: 15px;
    }
    .offer .offer-img img{
        height: 270px;
        width: 370px;
    }
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 390px){
    .promo{
        height: 30vh;
        width: 100%;
    }
    .promo div p{
        font-size: 7px;
        padding: 5px;
    }
    .promo div a{
        font-size: 7px;
        padding: 5px;
        border-radius: 2px;
    }
    .logos div img{
        height: 130px;
        width: 130px;
    }
    .grid-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, auto);
    }
    .grid-container div img{
        height: 120px;
        width: 170px;
    }
    .grid-container div a{
        padding: 5px 55px 5px 55px;
    }
    .envios img{
        height: 20px;
        width: 100px;
    }
    .offer{
        flex-direction: column;
    }
    .offer .offer-img img{
        height: 270px;
        width: 370px;
    }
    footer{
        flex-direction: column;
    }
}

.envios img{
    height: 150px;
    width: 150x;
}

.envios{
    position: fixed;
    right: 3%;
    bottom: 0%;
}

/*----FOOTER----*/

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

footer p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
}


 /*----------MI CUENTA----------*/

.formulario{
    width: 400px;
    background: #666666;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    color: white;
}

.formulario h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;    
}

.cuenta{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.formulario p{
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.formulario a{
    color: silver;
    text-decoration: none;
}

.boton{
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color: #C0C0C0;
    margin: 10px 0;
    font-size: 16px;
}

/*----------PREVENTA----------*/

.pre-banner{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 10px 0px 10px 0px;   
}

.prev{
    margin: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 71% 29%;
}

.prev-img img{
    height: 550px;
    width: 850px;
}
.prev-text{
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.prev-text button{
    background-color: #80B23C;
    font-size: 18px;
    color: white;
    padding: 20px 152px 20px 152px;
    border-radius: 5px;
    border: none;
    transition: 1s;
}

.prev-text button:hover{
    background-color: #49206D;
}

.prev-info{
    width: 850px;
    margin-bottom: 70px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

/*-----------OFERTAS-----------*/
.offer-banner{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 10px 0px 10px 0px; 
}

.offer{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-img img{
    height: 350px;
    width: 470px;
}

.offer-info{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;    
}

.offer-price{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.offer-price button{
    font-size: 18px;
    background-color: #80B23C;
    color: white;
    padding: 20px 152px 20px 152px;
    border-radius: 5px;
    border: none;
    transition: 1s;   
}

.offer-price button:hover{
    background-color: #49206D;
}

/*----------CONTACTOS----------*/

.contacto{
    width: 400px;
    background: #666666;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    color: white;
}

.contacto h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.datos{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.contacto p{
    padding-bottom: 60px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.enviar{
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color: #C0C0C0;
    margin: 10px 0;
    font-size: 16px;
}

.contacto form textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 140px;
    max-height: 150px;
}