@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*----HEADER----*/
.navbar{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar .container-fluid .logomarca{
    max-width: 200px;
    max-height: 200px;
}

.nav-item a{ 
    font-family: 'Roboto', sans-serif
}
/*----MAIN----*/

.portada{
    width: 100%;
}
.portada img{
    width: 100%;
    min-width: 320px;
}

.promo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner1{
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
}
.banner1 p{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0rem;
}

.logos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.logos img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.banner2{
    background-color: #49206D;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
}
.banner2 p{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 0rem;
}

.titulo1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
}

.sale{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}
.sale-img{
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sale-img img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sale-img .sale-name{
    width: 100%;
    height: 0vh;
    background-color: rgba(7, 0, 0, 0.89);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s all;
}
.sale-name h3{
    color: white;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
}
.sale-img:hover .sale-name{
    height: 5vh;
}

.banner3{
    background-color: #80B23C;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
}
.banner3 p{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 0rem;
}

.titulo2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
}
.maps{
    background:rgba(0, 0, 0, 0.7) url(../img/imagen26.jpg);
    background-size: cover;
    background-blend-mode: darken;
    height: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.maps-text{
    padding: 40px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
}

.maps-img iframe{
    padding: 10px;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.envios img{
    display: block;
    margin: 0 auto;
    max-height: 120px;
    max-width: 120px;
}
.envios{
    position: fixed;
    right: 9%;
    bottom: 0%;
}

/*----FOOTER----*/

.footer-container{
    text-align: center;
    background-color: black;
    color: #999999;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    transition: 1s;
    font-family:'Roboto', sans-serif
}

.footer-container:hover{
    color: white;
}

.footer1 ul{
    text-align: center;
    padding-left: 0rem;
    list-style: none;
}

.footer1 a{
    text-decoration: none;
    color: #999999;
    transition: 0.5s;
}

.footer1 a:hover{
    text-decoration-line: underline;
    color: white;
}

.footer2{
    text-align: center;
    margin-bottom: 20px;
}

.footer-reserved{
    background-color: black;
    text-align: center;
    color: #999999;
}

.footer-reserved p{
    margin-bottom: 0rem;
    font-family:'Roboto', sans-serif
}


/*----------PREVENTA----------*/

.banner4{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
}
.banner4 p{
    margin-bottom: 0rem;
}

.intro-pre{
    margin: 10px;
    text-align: center;
    margin-left: 31px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
}

.container .row{
    margin-bottom: 20px;
}
.card{
    border: none;
}

.card-body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-text{
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.card-body a{
    text-decoration: none;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    background-color: #80B23C;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    transition: 1s;
}
.card-body a:hover{
    background-color: #49206D;
    transform: scale(1.1);
}

/*-----------OFERTAS-----------*/

.banner5{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
}
.banner5 p{
    margin-bottom: 0rem;
}

.intro-off{
    text-align: center;
    margin: 10px;
    margin-left: 28px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
}


/*----------MI CUENTA----------*/

.banner6{
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
}
.banner6 p{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 0rem;
}

.formulario1{
    width: 400px;
    background: #80B23C;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    color: white;
}
.formulario1 h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;    
}
.cuenta{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.formulario1 a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.boton{
    width: 100%;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: #666666;
    margin: 10px 0;
    font-size: 16px;
}


/*----------CONTACTOS----------*/

.banner7{
    background-color: #EB1F2B;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 15px 0;
}
.banner7 p{
    font-weight: 300;
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 0rem;
}

.formulario2{
    width: 400px;
    background: #80B23C;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    color: white;
}
.formulario2 h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.formulario2 p{
    padding-bottom: 60px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
.datos{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.enviar{
    width: 100%;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: #666666;
    margin: 10px 0;
    font-size: 16px;
}
.formulario2 form textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}
textarea{
    border: none;
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
    min-height: 140px;
    max-height: 150px;
}


@media screen and (max-width: 920px){
    .sale-img .sale-name{
        height: 4vh;
    }
    .sale-name h3{
        font-weight: 100;
    }
    /*--------FOOTER---------*/
    .footer-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .footer-container:hover{
        color: #999999;
    }
    .footer1 a:hover{
        text-decoration-line: none;
        color: #999999;
    }
    
    .envios{
        position: fixed;
        right: 3%;
        bottom: 0%;
    }
}

@media screen and (max-width: 520px) {
    .titulo1{
        font-size: 25px;
    }
    .sale{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        column-gap: 15px;
        row-gap: 30px;
        padding: 15px;
    }
    .sale-img .sale-name{
        height: 4vh;
    }
    .sale-name h3{
        font-weight: 100;
    }
    .titulo2{
        font-size: 25px;
    }
    .maps{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .footer-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .footer-container:hover{
        color: #999999;
    }
    .footer1 a:hover{
        text-decoration-line: none;
        color: #999999;
    }
    .envios img{
        display: block;
        margin: 0 auto;
        max-height: 90px;
        max-width: 90px;
    }
    .envios{
        position: fixed;
        right: 1%;
        bottom: 13%;
    }

    /*---------PREVENTA---------*/
    
    .gx-5{
        --bs-gutter-x: 1rem
    }
    
    /*----------MI CUENTA---------*/

    .formulario1{
        width: 300px;
    }

    /*----------CONTACTOS----------*/

    .formulario2{
        width: 300px;
    }
    

}
